 
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: pop;
	src: url(./fonts/Poppins-Medium.ttf);
}
body{
	background-color: rgb(0, 0, 0);
}
.main{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: pop;
	padding: 50px;
}
.main .heading{
	font-size: 25px;
	margin-bottom: 80px;
	position: relative;
}
.heading span{
	color: rgb(255, 255, 255);
}
.heading::after{
	content: " ";
	position: absolute;
	width: 75%;
	height: 3px;
	left: 35%;
	transform: translateX(-50%);
	bottom: -5px;
	background-color: rgb(25, 217, 255);
}
.container{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container .card{
	width: 300px;
	height: 300px;
	position: relative;
	border-radius: 100px;
	background-color: rgb(130, 191, 211);
	overflow: hidden;
	box-shadow: 0px 0px 22px rgba(28, 146, 118, 0.37);
	margin:15px;
}
.card::after{
	content: " ";
	width: 100%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(6, 25, 65, 0.864);
}
.card img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: fit;
	transition: .6s;
	box-shadow: 0px 0px 22px rgba(0, 51, 255, 0.37);
	z-index: 99;
}
.card:hover img{
	transform: scale(.50) translateY(-120px);
	border-radius: 100px;
}
.card .details{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 40px;
	transform: translateY(100%);
	transition: .2s;
}
.card:hover .details{
	transform: translateY(0);
}
.details h3{
	font-size: 22px;
	color: rgb(7, 7, 7);
}
.details p{
	font-size: 15px;
	color: rgb(38, 48, 85);
	margin-bottom: 7px;
}
.details .social-links{
	display: flex;
}
.details .social-links a{
	width: 30px;
	height: 30px;
	margin: 0 5px;
	border-radius: 50%;
	color: #333;
	background-color: rgb(255, 255, 255);
	text-decoration: none;
	transition: .6s;
	display: grid;
	place-items: center;
	font-size: 17px;
}
.details .social-links a:hover{
	transform: rotate(360deg);
	background-color: rgb(191, 209, 131);
	color: rgb(34, 169, 83);
}
